.background{    
    background-image: url("/test/images/logoGrande.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1212px;
    height: 1460px;
    margin-left:auto ;
    margin-right: auto; 
    width:1020px ;
    font-family: sans-serif;
    font-size: 20px;
}
table{
    border-collapse: collapse;
}
th{
    border: 1px black solid;
    height: 30px;
    background-color: #aacccc;
    font-size: larger;
    width: 1020px;
    border-collapse: collapse;
}
.work td,
.observations td,
.description td{
    font-size: 20px;
}
.observations li{
    float: left;
    display: grid;
    max-width: 335px;
    min-width: 335px;
}
.header{
    height: 190px;
}
.name{ 
    float: left;
    height: 180px;
    width: 500px;
}
.name h1{
    font-size: 43px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.name h4{
    font-weight:lighter;
    margin: 0px;
    font-size: 19px;
}
.logo{   
    float: right;
    height: 195px;
    width: 222px;   
}
#logo{
    width: 228px;
}
.center{
    width:1020px ;    
    height: 1150px;
}
.data{
    height: 164px;
}
#line1{
    width: 806px;
    height: 36px;
    font-size:larger;
    font-weight: bold;
    margin-bottom: 12px;
}
#line2,
#line3,
#line4{
    width: 100%;
    height: 30px; 
    font-size: larger;
    font-weight: bold;
}
.line1-2,
.line1-4,
.line2-2,
.line2-4,
.line2-6,
.line3-2,
.line3-4,
.line4-2,
.line4-4,
.line3-6,
.line4-6{
    border-bottom: 1px black solid;      
    text-align: center; 
} 
.line1-1{
    width: 21.3%;
}
.line1-2{
    width: 16%;   
}
.line1-3{
    width: 32%;  
}
.line1-4{
    width: 34%;
}
.line2-1{
    width: 8%;
}
.line2-2{
    width: 13%;
}
.line2-3{
    width: 10%;
}
.line2-4{
    width: 33%;
}
.line2-5{
    width: 9%;
}
.line2-6{
    width: 22%;
}
.line3-1{
    width: 8%;
}
.line3-2{
    width: 15%;
}
.line3-3{
    width: 9%;
}
.line3-4{
    width: 34%;
}
.line4-1{
    width: 5%;
}
.line4-2{
    width: 11%;
}
.line4-3{
    width: 12%;
}
.line4-4{
    width: 12%;
}
.line4-5{
    width: 6%;
}
.line4-6{
    width: 20%;
}
.line3-5{
    width: 10%;
}
.line3-6{
    width: 15%;
}
.work{
    border: 1px black solid;
    height: 150px;
    width: 1020px;   
}
.description{
    border: 1px black solid;
    margin-top: 10px;
    height: 585px;
    width: 1020px;   
}
.description td{
    vertical-align: initial;  
}
.desc {
    padding: 0 15px 0 15px;
}
#description{
    border-collapse: collapse;
}
.line5-1{
    width: 10%;
    border: 1px black solid;
}
.line5-2{
    width:64%;
    border: 1px black solid;
}
.line5-3{
    width:6%;
    border: 1px black solid;
}
.line5-4{
    width:6%;
    border: 1px black solid;
}
.line5-5{
    width:6%;
    border: 1px black solid;
}
.line5-1,
.line5-3,
.line5-4,
.line5-5{
    text-align: center;   
}
.output{
    height: 35;
    border-collapse: collapse;
    text-align: center;
}
.total{
    float:right;
    border-collapse: collapse;
}
.total td{
    border: 1px black solid;
    border-top: 0px;
   font-size: 20px;
}
.line6-1{
    width: 15ch;
    height: 3ch;
    text-align: center;
}
.line6-2{
    width: 8ch;
    text-align: right;
    padding-right: 15px;   
}
.observations{
    margin-top: 44px;
    border: 1px black solid;
    height: 180px;
    display: block; 
}
#observations{
    width: 1020px;
    border-collapse: collapse;    
}
.footer{   
    height: 130px;
}
#tecnico{
    border-collapse: collapse;
 float: left;
 width: 350px;
 border-bottom: 0;
}
#cliente{
    border-collapse: collapse;
    float: right;
    width: 350px;
    border-bottom: 0;
}
#firm{   
    height: 100px;
    border: 1px black solid;
    border-collapse: collapse;
}