@media print{
    .oculto-impresion, .oculto-impresion *{
      display: none !important;
    }
  }


.background{    
    background-image: url("/electronautica/program/images/logoGrande.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1212px;
    height: 1440px;
    margin-left:auto ;
    margin-right: auto; 
    width:1020px ;
    font-family: sans-serif;
    font-size: 20px;
}
table{
    border-collapse: collapse;
}
th{
    border: 1px black solid;
    height: 30px;
    background-color: #aacccc;
    font-size: larger;
    width: 1020px;
    border-collapse: collapse;
}
.work td,

.description td{
    font-size: 13px;
}
.observations td{
    font-size: 12;
}
.observations li{
    float: left;
    display: grid;
    max-width: 500px;
    min-width: 500px;
    font-size: 13px;

}
.header{
    height: 174px;
}
.name{ 
    float: left;
    height: 180px;
    width: 500px;
}
.name h1{
    font-size: 43px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.name h4{
    font-weight:lighter;
    margin: 0px;
    font-size: 17px;
}
.logo{   
    float: right;
    height: 184px;
    width: 231px;   
}
#logo{
    width: 217px;
}
.center{
    width:1020px ;    
    height: 1026px;
}
.data{
    height: 141px;
}
#line1{
    width: 795px;
    height: 29px;
    font-size:17px;
    font-weight: bold;
    margin-bottom: 6px;
}
#line2,
#line3,
#line4{
    width: 100%;
    height: 27px; 
    font-size: 17px;
    font-weight: bold;
}
.line1-2,
.line1-4,
.line2-2,
.line2-4,
.line2-6,
.line3-2,
.line3-4,
.line4-2,
.line4-4,
.line3-6,
.line4-6{
    border-bottom: 1px black solid;      
    text-align: center; 
} 
.line1-1{
    width: 10%;
}
.line1-2{
    width: 18%;   
}
.line1-3{
    width: 24%;  
}
.line1-4{
    width: 57%;
}
.line2-1{
    width: 7%;
}
.line2-2{
    width: 12%;
}
.line2-3{
    width: 7%;
}
.line2-4{
    width: 33%;
}
.line2-5{
    width: 7%;
}
.line2-6{
    width: 22%;
}
.line3-1{
    width: 6%;
}
.line3-2{
    width: 15%;
}
.line3-3{
    width: 7%;
}
.line3-4{
    width: 48%;
}
.line4-1{
    width: 5%;
}
.line4-2{
    width: 8%;
}
.line4-3{
    width: 8%;
}
.line4-4{
    width: 12%;
}
.line4-5{
    width: 6%;
}
.line4-6{
    width: 20%;
}
.line3-5{
    width: 0%;
}
.line3-6{
    width: 14%;
}
.work{
    border: 1px black solid;
    height: 123px;
    width: 1020px;   
}
.description{
    border: 1px black solid;
    margin-top: 10px;
    height: 510px;
    width: 1020px;   
}
.description td{
    vertical-align: initial;  
}
.desc {
    padding: 0 15px 0 15px;
}
#description{
    border-collapse: collapse;
}
.line5-1{
    width: 10%;
}
.line5-2{
    width:64%;
    border: 1px black solid;
}
.line5-3{
    width:6%;
    
}
.line5-4{
    width:6%;
   
}
.line5-5{
    width:6%;
   
}
.line5-1,
.line5-3,
.line5-4,
.line5-5{
    text-align: center;  
    border: 1px black solid; 
}
.output{
    height: 35;
    border-collapse: collapse;
    text-align: center;
}
.total{
    float:right;
    border-collapse: collapse;
}
.total td{
    border: 1px black solid;
    border-top: 0px;
   font-size: 20px;
}
.line6-1{
    width: 15ch;
    height: 3ch;
    text-align: center;
}
.line6-2{
    width: 8ch;
    text-align: right;
    padding-right: 15px;   
}
.observations{
    margin-top: 44px;
    border: 1px black solid;
    height: 190px;
    display: block; 
}
#observations{
    width: 1020px;
    border-collapse: collapse;    
}



.footer{   
    height: 135px;
    padding-top: 10px;
}
#tecnico{
    border-collapse: collapse;
 float: left;
 width: 350px;
 border-bottom: 0;
}
#cliente{
    border-collapse: collapse;
    float: right;
    width: 350px;
    border-bottom: 0;
}
#firm{   
    height: 100px;
    border: 1px black solid;
    border-collapse: collapse;
}

.in-info{
    width:50%;
    
}
.in-amount{
    width:5%;
    
}
.in-price{
    width:10%;
    
}
.in-desc{
    width:5%;
    
}
.in-description{
    border: 1px black solid;
    margin-top: 10px;
    height: 785px;
    width: 1020px;   
}
.in-description td{
    vertical-align: initial;  
    font-size: large;
}
.in-output{
    height: 25;
    border-collapse: collapse;
    text-align: center;
}
.in-footer{
    display: block;
    
}
.comments{
    margin-top: 15px;
    float: left;
    width: 400px;
    height: 220px;
    border: 1px black solid;
}
.final{
    
    float: right;
    margin-top: 45px;
    margin-left: 20px;
    width: 590px;
    height: 120px;
    border: 1px black solid;
}
.cuenta{
    float: right;
    margin:26px 0px 0px 0px;
    font-size: 25px ;
    font-weight: bold;
    letter-spacing: -1.8px;
}
.in-final{
    padding-top: 16px;
    font-size: 37px ;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1.8px;
}

.buttons{
float:left;
display: inline;
margin: 10px;
background-color: white;

}
.nameboat{
   width: 1000px;
    float: right;
}

.icons{
display: inline-flex;

}

.header_small{
    font-size: small;
}
.inline_list{
    list-style: none;
    float: left;
    margin-left: 20px;
    display: block;
}
.inline_list > li{
    list-style: none;
    float: left;
    margin-left: 20px;
    display: block;
}
.quantity{
    padding-left: 10px;
    width: 35px;
}
.material2{
    width: 360px;
}